<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><% if @question %> <%= @question.text %> <% else %> No quizz yet <% end %></h1>
            <hr>

            <%= form_for([@question, @question.answers.build], html: { id: "new_answer_reallife", style: "display: inline" }) do |f| %>
              <%= f.hidden_field :reallife, :value => true %>
              <%= f.submit 'Real Life', :class => 'btn btn-primary btn-xl' %>
            <% end %>

            <%= form_for([@question, @question.answers.build], html: { id: "new_answer_movie", style: "display: inline" }) do |f| %>
              <%= f.hidden_field :reallife, :value => false %>
              <%= f.submit 'Movie', :class => 'btn btn-success btn-xl' %>
            <% end %>

            <%= link_to 'Skip', root_path, class: 'btn btn-info btn-xl pull-right' %>
        </div>
    </div>
</header>
