<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @question.movie %>
</p>

<p>
  <strong>Source:</strong>
  <%= @question.source %>
</p>

<h2>Answers</h2>
<%= render @question.answers %>

<h2>Add an answer:</h2>
<%= render 'answers/form' %>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
